body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

h1{
    font-size: 50px;
    line-height: 30px;
}
.half-width img{
    width: 90%;
}
.para{
    padding-bottom: 20px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.link-button{
    background-image: linear-gradient(orange,red);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 50px;

}
.food-modle img{
    width: 66%;
    
}
.background-img{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;

}
.flexible-container2{
    display: flex;
    margin-top: 10px;
}
.sec-b-width {
    width: 50%;
    padding: 5%;
}
.sec-b-padding{
    margin-top: 100px;
}
.sec-b-para{
    padding-top: 10px;
    padding-bottom: 40px;
}
.recipies{
    text-align: center;
    
    width: 40%;
    margin-left: 400px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

